.experienceStyle {
    display: flex;
    flex-direction: column;
    padding: 1% 0 1% 0;
    margin: 2% 0 2% 0;
    width: 50%;
}

.roleStyle {
    margin: 0;
    font-weight: 600;
    color: #3B3B3B;
}

.companyStyle {
    color: #B882FF;
    margin: 10px 0 0 0
}

.detailsStyle {
    display: flex;
}

.listStyle {
    margin: 0;
    padding: 15px;
    color: #3B3B3B;
}

.itemStyle {
    padding: 5px 0 5px 0
}

.detailItemStyle {
    margin-right: 20px
}

.detailsStyle > p > svg {
    margin-right: 10px;
}

.snippetStyle {
    /* font-style: italic; */
    color: #B882FF;
    margin: 0
}